@{
    ViewData["Title"] = "About";
}

@section About
{
<br>
<div id="features-sec" class="container set-pad">
    <div class="row text-center">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
            <h1 data-scroll-reveal="enter from the bottom after 0.2s" class="header-line">About Schools</h1>
            <p data-scroll-reveal="enter from the bottom after 0.3s">
                Our schools are committed to provide intellectual, social, cultural and economic benefits to communities through programs of education, co-curriculum activities, research and scholarships. Our schools & colleges are delivering world class education and research in the national education system of Bangladesh. Moreover, it has been involved in the next practice in the form of world citizenship education and makes an innovative and creative system for smart and enlightened generation.
            </p>
        </div>

    </div>
    <!--/.HEADER LINE END-->


    <br>
</div>
<!-- FEATURES SECTION END-->
    }
