@{
    ViewData["Title"] = "About";
}

<style>
    .faculty-div img{
        max-height: 153px;
        max-width: 220px;
    }
</style>
@section Facilities
    {
    <br>
    <div id="faculty-sec">
        <div class="container set-pad">
            <div class="row text-center">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                    <h1 data-scroll-reveal="enter from the bottom after 0.1s" class="header-line">OUR FACILITIES </h1>
                    <p data-scroll-reveal="enter from the bottom after 0.3s">
                        The Classrooms Present a learner friendly environment. Besides, there are 5 multimedia classrooms in the institution. Here, teachers can take classes using multimedia projector and digital content.
                    </p>
                </div>

            </div>
            <!--/.HEADER LINE END-->

            <div class="row">


                <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.4s">
                    <div class="faculty-div">
                        <img src="~/assets/img/faculty/1.jpg" class="img-rounded" />
                        <h3>Transport</h3>
                        <hr />

                        <p>
                            There are four Buses for the Students of this institution with the capacity of carrying about 150 students.

                        </p>
                    </div>
                </div>
                <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.5s">
                    <div class="faculty-div">
                        <img src="~/assets/img/faculty/2.jpg" class="img-rounded" />
                        <h3>Playground</h3>
                        <hr />
                        <p>
                            There is a large playground in this institution. Students play cricket football and other games in the playground. There is also a basketball ground beside the main playground. The Annual Sports of this institution is held in the playground every year.

                        </p>
                    </div>
                </div>
                <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.6s">
                    <div class="faculty-div">
                        <img src="~/assets/img/faculty/3.jpg" class="img-rounded" />
                        <h3>Auditorium </h3>
                        <hr />
                        <p>
                            We have air-conditioned well decorated auditorium with accommodation of 600 Students. We celebrate the national festivals, arrange various types of debate, quiz, cultural programs and competitions there. We also arrange seminars inviting famous personalities of country throughout the year.

                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- FACULTY SECTION END-->
}