@{
    ViewData["Title"] = "Home Page";
}

@section Home
{
    <div class="home-sec" id="home">
        <div class="overlay">
            <div class="container">
                <div class="row text-center ">

                    <div class="col-lg-12  col-md-12 col-sm-12">

                        <div class="flexslider set-flexi" id="main-section">
                            <ul class="slides move-me">
                                <!-- Slider 01 -->
                                <li>
                                    <h3>Delivering Quality Education</h3>
                                    <h1>THE UNIQUE METHOD</h1>
                                    <a href="#features-sec" class="btn btn-info btn-lg">
                                        GET AWESOME
                                    </a>
                                    <a href="#features-sec" class="btn btn-success btn-lg">
                                        CONTACT US
                                    </a>
                                </li>
                                <!-- End Slider 01 -->
                                <!-- Slider 02 -->
                                <li>
                                    <h3>Delivering Quality Education</h3>
                                    <h1>UNMATCHED APPROACH</h1>
                                    <a href="#features-sec" class="btn btn-primary btn-lg">
                                        GET AWESOME
                                    </a>
                                    <a href="#features-sec" class="btn btn-danger btn-lg">
                                        CONTACT US
                                    </a>
                                </li>
                                <!-- End Slider 02 -->
                                <!-- Slider 03 -->
                                <li>
                                    <h3>Delivering Quality Education</h3>
                                    <h1>AWESOME FACULTY PANEL</h1>
                                    <a href="#features-sec" class="btn btn-default btn-lg">
                                        GET AWESOME
                                    </a>
                                    <a href="#features-sec" class="btn btn-info btn-lg">
                                        CONTACT US
                                    </a>
                                </li>
                                <!-- End Slider 03 -->
                            </ul>
                        </div>




                    </div>

                </div>
            </div>
        </div>

    </div>
    <!--HOME SECTION END-->
    <div class="tag-line">
        <div class="container">
            <div class="row  text-center">

                <div class="col-lg-12  col-md-12 col-sm-12">

                    <h2 data-scroll-reveal="enter from the bottom after 0.1s"><i class="fa fa-circle-o-notch"></i> WELCOME TO NOLCHIA GOVT. PRIMARY SCHOOL <i class="fa fa-circle-o-notch"></i> </h2>
                </div>
            </div>
        </div>

    </div>
    <!--HOME SECTION TAG LINE END-->


    <div id="features-sec" class="container set-pad">
        <div class="row text-center">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                <h1 data-scroll-reveal="enter from the bottom after 0.2s" class="header-line">Welcome to NGPS</h1>
                <p data-scroll-reveal="enter from the bottom after 0.3s">
                    Our schools are committed to provide intellectual, social, cultural and economic benefits to communities through programs of education, co-curriculum activities, research and scholarships. Our schools are delivering world class education and research in the national education system of Bangladesh. Moreover, it has been involved in the next practice in the form of world citizenship education and makes an innovative and creative system for smart and enlightened generation.
                </p>
            </div>

        </div>
        <!--/.HEADER LINE END-->
        <br><br>

    </div>
    <!-- COURSES SECTION END-->
    <div id="contact-sec">
        <div class="overlay">
            <div class="container set-pad">
                <div class="row text-center">
                    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                        <h1 data-scroll-reveal="enter from the bottom after 0.1s" class="header-line">CONTACT US  </h1>
                        <p data-scroll-reveal="enter from the bottom after 0.3s">
                            
                        </p>
                    </div>

                </div>
                <!--/.HEADER LINE END-->
                <div class="row set-row-pad" data-scroll-reveal="enter from the bottom after 0.5s">


                    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control " required="required" placeholder="Your Name" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control " required="required" placeholder="Your Email" />
                            </div>
                            <div class="form-group">
                                <textarea name="message" required="required" class="form-control" style="min-height: 150px;" placeholder="Message"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-info btn-block btn-lg">SUBMIT REQUEST</button>
                            </div>

                        </form>
                    </div>






                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row set-row-pad">
            <div class="col-lg-4 col-md-4 col-sm-4   col-lg-offset-1 col-md-offset-1 col-sm-offset-1 " data-scroll-reveal="enter from the bottom after 0.4s">

                <h2><strong>Our Location </strong></h2>
                <hr />
                <div>
                    <h4>234/80 -UFG , Gaibandha,</h4>
                    <h4>Bangladesh.</h4>
                    <h4><strong>Call:</strong>  01725-732759 </h4>
                    <h4><strong>Email: </strong>info@ngps.com</h4>
                </div>


            </div>
            <div class="col-lg-4 col-md-4 col-sm-4   col-lg-offset-1 col-md-offset-1 col-sm-offset-1" data-scroll-reveal="enter from the bottom after 0.4s">

                <h2><strong>Social Conectivity </strong></h2>
                <hr />
                <div>
                    <a href="#">  <img src="~/assets/img/Social/facebook.png" alt="" /> </a>
                    <a href="#"> <img src="~/assets/img/Social/google-plus.png" alt="" /></a>
                    <a href="#"> <img src="~/assets/img/Social/twitter.png" alt="" /></a>
                </div>
            </div>


        </div>
    </div>
}
